ZMind.Commodity.Test/Service References/CommodityServiceReference/CommodityService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZMind.Commodity.DTO.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZMind.Commodity.DTO.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestCommodity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFuzzy" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemCategoryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderBy" nillable="true" type="tns:ArrayOfColumnOrder" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestCommodity" nillable="true" type="tns:RequestCommodity" />
  <xs:complexType name="ArrayOfColumnOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnOrder" nillable="true" type="tns:ColumnOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColumnOrder" nillable="true" type="tns:ArrayOfColumnOrder" />
  <xs:complexType name="ColumnOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAsc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnOrder" nillable="true" type="tns:ColumnOrder" />
</xs:schema>