ZMind.Commodity.Test/Service References/CommodityServiceReference/CommodityService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39278/CommodityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ZMind.Commodity.DTO.Request" />
  <xs:import schemaLocation="http://localhost:39278/CommodityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ZMind.Commodity.DTO.Response" />
  <xs:element name="GetCommodity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ZMind.Commodity.DTO.Request" minOccurs="0" name="request" nillable="true" type="q1:RequestCommodity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommodityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ZMind.Commodity.DTO.Response" minOccurs="0" name="GetCommodityResult" nillable="true" type="q2:ResponseCommodity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>